:root {
  --primary: #0197f6;
  --primary-50: #007fce;
  --secondary: #011df6;
  --secondary-50: #011ef6bb;
  --black: #20211c;
  --grey: #7e868c;
  // #eee5e9; // Lavender Blush
  --bg-light: #ecebf3; // Ghost White
  --bg-dark: #363449;
  //   --family-montserrat: 'Montserrat', sans-serif;
  --size-base: 16px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'base';
@import 'components';
